
table {
    border-collapse: collapse;
    width:100%;
	background-color:#99CC99;
}
th, td {
	padding-left:10px;
    text-align:left;
    border-bottom: 5px solid #ddd;
	height:50px;
	font-size:18px;
}

tr:nth-child(even):hover{background-color:#99FF99;}
tr:nth-child(odd):hover{background-color:#99FF99;}

tr:nth-child(even){background-color:#99FF66;}
tr:nth-child(odd){background-color:#99CC66;}

#printbtn
{
border:1px solid black;
background-color:#99FF99;
height:30px;
width:150px;
}
#printbtn:hover
{
background-color:#009966;
}